<div class="contain-to-grid">
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "Jeremy Winn", page_path("home") %></a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "About", page_path("about") %></li>
      <li class="divider"></li>
      <li><li><%= link_to "Curriculum Vitae", page_path("resume") %></a></li></li>
      <li class="divider"></li>
      <li><%= link_to "Blog", posts_path %></li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Doctoral Portfolio</a>

        <ul class="dropdown">
          <li><%= link_to "Personal Statement", page_path("personal_statement") %></a></li>
          <li class="divider"></li>
          <li><%= link_to "Health Education and Promotion", page_path("health_education_and_promotion") %></a></li>
          <li class="divider"></li>
          <li><%= link_to "Outside Area of Expertise", page_path("outside_expertise") %></a></li>
          <li class="divider"></li>
          <li><%= link_to "Research and Writing", page_path("research_and_writing") %></a></li>
          <li class="divider"></li>
          <li><%= link_to "Teaching", page_path("teaching") %></a></li>
          <li class="divider"></li>
          <li><%= link_to "Professional Service and Participation", page_path("professional_service") %></a></li>
          <li class="divider"></li>
          <li><li><%= link_to "Curriculum Vitae", page_path("resume") %></a></li></li>
          <li class="divider"></li>
          <li><a href="#">Brief Dissertation Proposal</a></li>
          <li class="divider"></li>
          <li><a href="#">See all &rarr;</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li><a href="#">Contact</a></li>
      <li><% if current_admin %>
          <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>   
      <% end %></li>
    </ul>
  </section>
</nav>
</div>